site/
.idea/
.vscode/
_tmp.md
.DS_Store
_myscript.py
CourseSystem/conf/__pycache__/
CourseSystem/core/__pycache__/
CourseSystem/db/__pycache__/
CourseSystem/db/Admin/
CourseSystem/db/School/
CourseSystem/db/Course/
CourseSystem/db/Student/
CourseSystem/db/Teacher/
CourseSystem/interface/__pycache__/
CourseSystem/lib/__pycache__/
CAP_Kyma_Demo/cpapp/

